<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
  <div class="container">
    <header>
      <h1 class="over">
      <p>
      <img src="assets/nino2.png" alt="二の次"class="example1">
      </p>
    </h1>
    </header>
    <div class="content-menu">
      <ul id="mainnav" class=clearFix>
        <li class=nav1><span>Party</span></li>
        <li class=nav2><span>Mood</span></li>
        <li class=nav3><span>Cat</span></li>
        <li class=nav4><span>Cool</span></li>
        <li class=nav5><span>Unique</span></li>
      </ul>
    </div> 
    <div id="content" class="crearfix">
     <div id="bread-serach" class="crearfix">
     <form name="form1" id="form1" method="get" action="/store/search.php" class="pjax"> 
<select name="search_category" id="search_category">
<option value="all" selected="">All</option>
<option value="artist">Artist</option>
<option value="title">Title</option>
<option value="label">Label</option>
<option value="category">Category</option>
</select>
<input type="search" name="s" id="srcbox" autocomplete="on" placeholder="Search Text" value="" class="srcbox PJAX"> <!--<input type="submit" name="search_submit" value="検索">-->
<a href="#" class="pjax srcbox_btn"><input type="button" name="search_submit" id="srcbox_btn" value="検索"></a>
</form>
     </div>
     <div id="content2" class="crearfix">
       <div class=content2__main></div>
       <div class=content2__left></div>
     
     <div id="rigt-side" class="crearfix">

     </div>
     
    </div>
    
    </div>
   </div>
   </div>
  
  </body>
</html>