<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
   <div id="wrapper">
    <header>
      <div class="ninotop">
        <p><img src="assets/nino2.png" alt="二の次"class="example1"></p>
      </div>
      <div class="navbar">
        <ul>
          <li class=nav1><span>Party</span></li>
          <li class=nav2><span>Mood</span></li>
          <li class=nav3><span>Cat</span></li>
          <li class=nav4><span>Cool</span></li>
          <li class=nav5><span>Unique</span></li>
        </ul>
      </div>
    </header>

    <div class="contents clearfix">
      <div class="left-content">
      
      </div>

      <div class="right-content">
      <div id="subbtn" class="btntop4">
      <strong>ようこそゲスト様<strong>
      <p></p>
      </div>
    </div>
  </body>
  <footer>
  </footer>
</html>