* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.7;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  color: black;
  background: #fbf9f9;
  font-family: "メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック",Verdana;
  .container {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    header {
      height: 200px;
      width: 100%;
      background-image: url("sea.png");
      background-size: cover;
      .over {
        
        p {
          padding: 30px;
          text-align:center;
          height: 70px;
          width: 100%;
          img.example1 {
            width: 25%;    /* 横幅を割合で指定 */
           height: auto;  
          }    
        }
      }
    }
    
  .content-menu {
       
    border-top: 1px solid #3e92ff;
    border-bottom: 1px solid #3e92ff;
    margin: 0 auto;
    position: static;
    width: 100%;
    background: #fbf9f9;
    text-align: center;
    

       ul {
        // display: inline;
         li {
          width: auto;
          color: #3e92ff;
          list-style: none;
          // justify-content: space-around;
          display: inline;
         }
        }      }}
//        }
//  }

//     <div id="drawer" class="FixedTop">
//     <a href="#globalNav">menu &amp; search</a>
//     </div>
//     <div content-manu>
//       <ul>
//         <li>Party</li>
//         <li>Mood</li>
//         <li>cat</li>
//         <li>cool</li>
//         <li>unique</li>
//       </ul>
//     </div>
//     <div id="content" class="crearfix">
//      <div id="bread-serach" class="crearfix">
//      <form name="form1" id="form1" method="get" action="/store/search.php" class="pjax"> 
// <select name="search_category" id="search_category">
// <option value="all" selected="">All</option>
// <option value="artist">Artist</option>
// <option value="title">Title</option>
// <option value="label">Label</option>
// <option value="category">Category</option>
// </select>
// <input type="search" name="s" id="srcbox" autocomplete="on" placeholder="Search Text" value="" class="srcbox PJAX"> <!--<input type="submit" name="search_submit" value="検索">-->
// <a href="#" class="pjax srcbox_btn"><input type="button" name="search_submit" id="srcbox_btn" value="検索"></a>
// </form>
//      </div>
//      <div id="content2" class="crearfix">
//        <div class=content2__main></div>
//        <div class=content2__left></div>
     
//      <div id="rigt-side" class="crearfix">
      } 
  
* {
  box-sizing: border-box;
}